* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}


.navbar {
  background: #020617;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333335;
}

.navbar h2 {
  font-size: 22px;
}

#loginBtn {
  padding: 8px 18px;
  border-radius: 20px;
  border: none;
  background: #38bdf8;
  cursor: pointer;
  font-size:19px;
}


.login-box {
  display: none;
  position: fixed;
  top: 80px;
  right: 30px;
  background: #020617;
  padding: 25px;
  border-radius: 14px;
  width: 280px;         
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  z-index: 2000;
}

.login-box h3 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
}

.login-box input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.login-box button{
    font-size:15px;
    padding:9px 9px;
    border-radius: 8px;
    border: none;
    margin:  0 auto; 
    display: block;
    
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
}


.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 35px;
}

.upload-btn {
  background: #38bdf8;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size:22px;
}

.clear-btn {
  background: #38bdf8;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size:22px;
}


.options {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

#pageSize{
    font-size: 16px;     
    padding: 3px 3px;  
}

#orientation{
    font-size: 16px;   
    padding: 3px 5px;  

}

.preview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 30px 0;
}

.image-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}


.message {
  color: #e42020e0;
  margin: 10px 0;
  font-size:20px;
}


.convert {
  padding: 14px 28px;
  font-size: 20px;
  background: #38bdf8;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.convert:hover{
    background-color:#1e7499;
}


.crop-box {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap:20px;
}

.crop-actions {
  display: flex;
  gap: 15px;
  margin-top: 12px;

}


.card-actions button:first-child {
  
  font-size: 15px; 
  padding: 8px 8px; 
  border-radius: 8px;
  border: none;
  cursor: pointer;   
}

.card-actions button:last-child {

  font-size: 15px;  
  padding: 8px 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;    
}

.crop-box canvas {
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.crop-box button{
  font-size: 15px;        
  padding: 10px 18px;     
  border-radius: 8px;
  border: none;
  cursor: pointer;
}